<!DOCTYPE html>
<html>
<head>
  <title>Shane Bauer - ShaneBauer.com - Software Development Portfolio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<!--[if lt IE 9]>
    	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container wrap">
		<div class="content">
			<header class="row upper">
				<div class="span6">
					<h1>Shane Bauer</h1>
					<p>Experienced Software Developer, ASP.NET, C#, Ruby, Rails</p>
				</div>
				<div class="span4">
					<nav>
						<ul class="nav nav-pills">

					    	<%=nav_link 'Home',root_path%>
							<%=nav_link 'About Me',about_path%>
							<%=nav_link 'Projects',projects_path%>
					  		<%=nav_link 'Contact',contact_path%>
						</ul>
					</nav>
				</div>
			</header>
			<div class="row" style="margin-top: 10px">
				<div class="span8">
					<%=yield %>
				</div>
				<div class="span2">
					<h3>Let's Connect</h3>
					 <%=render :partial=>'shared/connections' %>
				</div>
			</div>
			
			<footer class="row" >
				<div class="span12">
					&copy;2002-2012. Shane Bauer
				</div>
			</div>
		</div>
		<!-- Start of StatCounter Code for Default Guide -->
		<script type="text/javascript">
		var sc_project=7884659; 
		var sc_invisible=1; 
		var sc_security="2f10cc15"; 
		</script>
		<script type="text/javascript"
		src="http://www.statcounter.com/counter/counter.js"></script>
		<noscript><div class="statcounter"><a title="tumblr
		analytics" href="http://statcounter.com/tumblr/"
		target="_blank"><img class="statcounter"
		src="http://c.statcounter.com/7884659/0/2f10cc15/1/"
		alt="tumblr analytics"></a></div></noscript>
		<!-- End of StatCounter Code for Default Guide -->
	</body>
</html>
